---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section>
    Index page
    <a href='/exercise/Advanced_Kettlebell_Windmill'
      >Advanced_Kettlebell_Windmill</a
    >
  </section>
</Layout>
