---

---

<form id='searchForm'>
  <div>
    <label for='muscle-groups'>Muscule Groups</label>
    <input type='text' id='muscle-groups' />
  </div>
  <div>
    <label for='training-modalities'>Training Modalities</label>
    <input type='text' id='training-modalities' />
  </div>
  <div>
    <label for='equipment'>Equipment</label>
    <input type='text' id='equipment' />
  </div>
  <div>
    <label for='difficulty-level'>Level</label>
    <input type='text' id='difficulty-level' />
  </div>
  <input type='submit' value='Get After It!' />
</form>
