@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

:root {
  --black: #010101;
  --beige: #f2f0ea;
  --yellow: #edcf5d;
  --grey: #a4a4a4;
  --red: #ea5656;
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  height: 100%;
}

img {
  max-width: 100%;
  object-fit: cover;
  font-style: italic;
}

#root {
  max-width: 1500px;
  margin: 0 auto;
  padding: 2rem;
  display: grid;
}
