@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

:root {
  --black: #010101;
  --deep-blue: #0f172a;
  --beige: #f2f0ea;
  --yellow: #edcf5d;
  --grey: #a4a4a4;
  --red: #ea5656;
  --orange: #e98c23;
  --green: rgb(5, 92, 5);
  --common-transition: all 0.2s ease-in-out;
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  height: 100%;
  letter-spacing: 1px;
  background-color: var(--beige);
}

#root {
  max-width: 1500px;
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  gap: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  line-height: 1.2;
}

p {
  text-wrap: pretty;
}

img {
  max-width: 100%;
  object-fit: cover;
  font-style: italic;
}

.backToTop {
  --offset: 500px;
  display: grid;
  width: fit-content;
  margin-top: calc(100dvh + 500px);
  position: sticky;
  left: 100%;
  bottom: 0.5rem;
  color: var(--black);
  z-index: 5;
  transition: var(--common-transition);
  background-color: var(--yellow);
  border-radius: 100%;
  padding: 0.25rem;

  &:hover {
    bottom: 1rem;
  }

  .backToTopIcon {
    fill: var(--black);
    width: 2.5rem;
    height: 2.5rem;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  8%,
  50% {
    opacity: 1;
  }
  62.5%,
  100% {
    opacity: 0;
  }
}
