---
import { getImage } from "astro:assets";
import heavyPlate from "../assets/images/weight-plate.png";
let weight = await getImage({
  src: heavyPlate,
  format: "webp",
  width: 32,
  height: 32,
});
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='description'
      content='Customize your workouts for maximum gains. Get after it!'
    />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href={weight.src} />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'
      rel='stylesheet'
    />
    <title>BenchBuddy :: Light Weight Baby!</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  main {
    @apply container mx-auto w-full py-12 relative;
  }
</style>
