.backToTop {
  display: grid;
  width: fit-content;
  position: sticky;
  bottom: 0.5rem;
  color: var(--black);
  z-index: 5;
  transition: var(--common-transition);
  background-color: var(--yellow);
  border-radius: 100%;
  padding: 0.25rem;

  @media (width > 768px) {
    left: 100%;
  }

  &:hover {
    bottom: 1rem;
  }

  .backToTopIcon {
    fill: var(--black);
    width: 2.5rem;
    height: 2.5rem;
  }
}
